
body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    min-height: 100vh;
}
.card{
    height: 100%;
    transition: all ease 1s;
    border-radius: 1rem;
}
.card:hover{
    transform: scale(1.02);
}